<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamientoFarmocologicoController</servlet-name>
        <servlet-class>controller.TratamientoFarmocologicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaltratoController</servlet-name>
        <servlet-class>controller.MaltratoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacienteController</servlet-name>
        <servlet-class>controller.PacienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegPacienteController</servlet-name>
        <servlet-class>controller.RegPacienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuidadorController</servlet-name>
        <servlet-class>controller.CuidadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecursosController</servlet-name>
        <servlet-class>controller.RecursosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FamiliaController</servlet-name>
        <servlet-class>controller.FamiliaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EconomiaController</servlet-name>
        <servlet-class>controller.EconomiaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioMedicoController</servlet-name>
        <servlet-class>controller.ServicioMedicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViviendaController</servlet-name>
        <servlet-class>controller.ViviendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiagnosticoSocialController</servlet-name>
        <servlet-class>controller.DiagnosticoSocialController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbordajeSocialController</servlet-name>
        <servlet-class>controller.AbordajeSocialController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lista</servlet-name>
        <servlet-class>controller.Lista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoricoController</servlet-name>
        <servlet-class>controller.HistoricoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioPacienteController</servlet-name>
        <servlet-class>controller.UsuarioPacienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValoracionController</servlet-name>
        <servlet-class>controller.ValoracionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>estadoController</servlet-name>
        <servlet-class>controller.estadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>estadoMunicipio</servlet-name>
        <servlet-class>controller.estadoMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrabajadorController</servlet-name>
        <servlet-class>controller.TrabajadorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TratamientoFarmocologicoController</servlet-name>
        <url-pattern>/tratamiento-farmocologico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaltratoController</servlet-name>
        <url-pattern>/maltrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacienteController</servlet-name>
        <url-pattern>/paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegPacienteController</servlet-name>
        <url-pattern>/reg_paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuidadorController</servlet-name>
        <url-pattern>/cuidador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecursosController</servlet-name>
        <url-pattern>/recursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FamiliaController</servlet-name>
        <url-pattern>/familia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EconomiaController</servlet-name>
        <url-pattern>/economia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioMedicoController</servlet-name>
        <url-pattern>/servicio-medico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViviendaController</servlet-name>
        <url-pattern>/vivienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiagnosticoSocialController</servlet-name>
        <url-pattern>/diagnostico-social</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbordajeSocialController</servlet-name>
        <url-pattern>/abordaje-social</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lista</servlet-name>
        <url-pattern>/lista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoricoController</servlet-name>
        <url-pattern>/historico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioPacienteController</servlet-name>
        <url-pattern>/usuario-paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValoracionController</servlet-name>
        <url-pattern>/valoracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrabajadorController</servlet-name>
        <url-pattern>/trabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegPacienteController</servlet-name>
        <url-pattern>/reg_paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estadoController</servlet-name>
        <url-pattern>/estadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>estadoMunicipio</servlet-name>
        <url-pattern>/estadoMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrabajadorController</servlet-name>
        <url-pattern>/TrabajadorController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
